<section class="studio-section">
	<oc-tag [text]="'QRATES STUDIO'"></oc-tag>
	<h3 class="studio-title">
		Make it real with<br />
		<span>Qrates Studio</span>
	</h3>
	<p class="studio__description">
		Design the look and feel of your vinyl and cassette and use the profit
		calculator to immediately see how much your project will cost, and how much
		you'll earn.
	</p>
	<div class="slider">
		<div
			*ngFor="let image of sliderImages; let i = index"
			class="slider__image"
			[ngClass]="{ active: i === currentImageIndex }"
		>
			<img [src]="image" alt="" />
		</div>
	</div>
	<oc-button type="primary" text="TRY IT NOW"></oc-button>
</section>
