<div>
    <oc-fans-template type="FANS" title="Limited edition, unlimited inspiration."
        description="Discover new records, cassettes, special releases, and one-offs directly supporting artists and labels in the process. ."
        textbtn1="BROWSE MUSIC" textbtn2="SEE ARTIST ON QRATES" backgroundColor="rgb(255,248,4)"
        img1="../../../assets/images/fan-image1.jpg">
    </oc-fans-template>
    <img src="../../../assets/images/icon-avion.png" alt="Paper-plane">
</div>
<div>
    <oc-fans-template type="FANS" title="Limited edition, unlimited inspiration."
        description="Discover new records, cassettes, special releases, and one-offs directly supporting artists and labels in the process. ."
        textbtn1="BROWSE MUSIC" textbtn2="SEE ARTIST ON QRATES" backgroundColor="rgb(255,248,4)"
        img1="../../../assets/images/fan-image1.jpg" flexDirection="row-reverse">
    </oc-fans-template>
    <img src="../../../assets/images/icon-avion.png" alt="Paper-plane">
</div>