<div>
    <oc-fans-template type="FANS" title="Limited edition, unlimited inspiration."
        description="Discover new records, cassettes, special releases, and one-offs directly supporting artists and labels in the process. ."
        textbtn1="BROWSE MUSIC" textbtn2="SEE ARTIST ON QRATES" backgroundColor="rgb(255,248,4)"
        img1="../../../assets/images/fan-image1.jpg">
    </oc-fans-template>
    <img class="icon1" src="../../../assets/images/icon-avion.png" alt="Paper-plane">
</div>
<div>
    <oc-fans-template type="ARTISTS" title="Your music on vinyl and cassette, direct to your fans."
        description="Create beautiful physical copies of your next release on vinyl and cassette. We make the process easy, so you can focus on the music."
        textbtn1="LEARN MORE" textbtn2="COMPARE PROJECT TYPE" backgroundColor="rgb(228,229,222)"
        img1="../../../assets/images/fan-image2.jpg" flexDirection="row-reverse">
    </oc-fans-template>
    <img class="icon2" src="../../../assets/images/icon-disco.png" alt="Paper-plane">
</div>