div {
    position: relative;
    overflow: hidden;
}

.icon1 {
    position: absolute;
    top: 50%;
    left: 41%;
    width: 10.5%;
    min-width: 156px;
}

.icon2 {
    position: absolute;
    top: 60%;
    right: -30px;
    width: 10.5%;
    min-width: 156px;
}

@media screen and (max-width: 768px) {
    .icon1 {
        width: 27%;
        top: 4%;
        left: 73%;
    }

    .icon2 {
        width: 27%;
        top: 45%;
        right: -25px;
    }
}