<header>
	<oc-navbar></oc-navbar>
	<div class="header__content">
		<div id="izquierda-header">
			<h1>
				<b>QRATES</b>
				<span class="titulo" id="borde1"><b>MUSIC IN</b></span>
				<div id="atras">
					<span class="titulo" id="borde2"><b>YOUR HANDS</b></span>
					<span class="titulo"><b>YOUR HANDS</b></span>
				</div>
			</h1>
			<h2>
				We make it easy for artists to press vinyl, so fans can keep pieces of
				the music they <span id="palabra">love. <i class="fa-sharp fa-solid fa-arrow-down"></i></span>
			</h2>
		</div>
		<div id="derecha-header">
			<img id="mano-icono" src="assets/images/ok-mano.png" alt="ok_mano" />
			<img
				id="foto-banner"
				src="assets/images/imagen-header.webp"
				alt="vinilo"
			/>
			<p>
				<b><u>KLIM</u> IS ON QRATES</b>
			</p>
		</div>
		<div class="btn-container">
			<oc-button type="dark" text="DISCOVER MUSIC"></oc-button>
			<oc-button type="light" text="MAKE YOUR OWN"></oc-button>
		</div>
	</div>
</header>
