<header>
    <div id="izquierda-header">
        <h1><b>QRATES</b></h1>
        <div id="sombra">
            <span><b>MUSIC IN</b></span>
            <span id="sombra1"><b>MUSIC IN</b></span>
        </div>
        <span><b>YOUR HANDS</b></span>
        <h3>We make it easy for artists to press vinyl, so fans can keep pieces of the music they love. <i class="fa-sharp fa-solid fa-arrow-down"></i></h3>
    </div>
    <div id="derecha-header">
        <img width="300px" src="../../../assets/images/ok-mano.png" alt="ok_mano">
        <img width="500px" src="../../../assets/images/imagen-header.jpg" alt="vinilo">
    </div>
    <div>
        <button id="boton1">DISCOVER MUSIC</button>
        <button id="boton2">MAKE YOUR OWN</button>
    </div>
</header>