.media-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  column-gap: 10px;

  img {
    height: 36px;
  }

  @media screen and (max-width: 990px) {
    column-gap: 1%;
  }
}
