.btn {

  height: 50px;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  border-radius: 50px;
  display: grid;
  padding: 0 25.5px;
  place-items: center;
  cursor: pointer;

  &-dark {
    color: var(--white);
    background: var(--black);
  }

  &-light {
    color: var(--black);
    background: transparent;
  }

  &-primary {
    color: var(--black);
    background: var(--primary);
    min-width: 366px;
    height: 75px;
    letter-spacing: 0.18px;
  }
}
