.footer {
  &__container {
    position: relative;
    width: 100%;
    padding: 80px;
    color: var(--white);
    background-color: var(--black);

  }

  &__content {
    &--options {
      font-size: 1.25rem;
      letter-spacing: -0.27px;
      margin-bottom: 290px;

      oc-footer-options-column {
        width: 25%;
      }
    }

    &--infor {
      justify-content: space-between;
    }

    &--details {
      flex-direction: column;
      align-items: flex-end
    }

    &--legal-nav {
      margin: 0;
    }

    &-legal--link {
      color: var(--white);
      margin: 0;
      font-size: .8rem;
      font-weight: bold;
      padding-left: 20px;

      &:last-child {
        padding-left: 40px;
      }
    }
  }
}

.flex {
  display: flex;
}
