.footer {
  &__container {
    position: relative;
    width: 100%;
    padding: 80px;
    color: var(--white);
    background-color: var(--black);

  }

  &__content {
    &--options {
      display: flex;
      font-size: 1.25rem;
      letter-spacing: -0.27px;
      margin-bottom: 290px;

      oc-footer-options-column {
        width: 25%;
      }
    }

    &--infor {
      display: flex;
      justify-content: space-between;
    }
  }
}
