<section class="fans-photos">
	<div class="fans-photos-image">
		<a href="https://unsplash.com/es/fotos/A3Ndh9ww0hU">
			<img src="assets/images/photo-1.webp" alt="" />
		</a>
	</div>
	<div class="fans-photos-image">
		<a href="https://unsplash.com/es/fotos/FI568I_xvH4">
			<img src="assets/images/photo-2.webp" alt="" />
		</a>
	</div>
	<div class="fans-photos-image">
		<a href="https://unsplash.com/es/fotos/kkFiqiVj7IA">
			<img src="assets/images/photo-3.webp" alt="" />
		</a>
	</div>
	<div class="fans-photos-image">
		<a href="https://unsplash.com/es/fotos/pgHC0MoDjQg">
			<img src="assets/images/photo-4.webp" alt="" />
		</a>
	</div>
	<div class="fans-photos-image">
		<a href="https://unsplash.com/es/fotos/9Y1PYmvutb0">
			<img src="assets/images/photo-5.webp" alt="" />
		</a>
	</div>
	<div class="fans-photos-image">
		<a href="https://unsplash.com/es/fotos/guCLBw5Cflc">
			<img src="assets/images/photo-6.webp" alt="" />
		</a>
	</div>
	<div class="fans-photos-image">
		<a href="https://unsplash.com/es/fotos/nYqNbJR-c6o">
			<img src="assets/images/photo-7.webp" alt="" />
		</a>
	</div>
	<div class="fans-photos-image">
		<a href="https://unsplash.com/es/fotos/C0oRQ_8SxBY">
			<img src="assets/images/photo-8.webp" alt="" />
		</a>
	</div>
</section>
