@import "~normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --primary: hsl(58, 100%, 51%);
  --second: hsl(69, 12%, 88%);

  --font-primary: "Noto Sans JP", sans-serif;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
