<div class="navbar-continer flex-al-c">
	<div class="flex-al-c">
		<div class="image-container">
			<img src="assets/svg/qrates-logo.svg" alt="Qrates" class="logo" />
		</div>
		<nav class="navbar navbar__desktop">
			<ul class="navbar__list">
				<oc-nav-item [text]="'RECORDS & CASSETTES'"></oc-nav-item>
				<oc-nav-item [text]="'DISCOVER'"></oc-nav-item>
				<oc-nav-item
					[text]="'FOR ARTISTS'"
					[activeSubList]="true"
					[subListItems]="[
						'Why Qrates?',
						'Make & Sell',
						'Crowdfunding',
						'Our Services',
						'Artist Toolkit',
						'Referral Program'
					]"
				></oc-nav-item>
				<oc-nav-item
					[text]="'OUR COMPANY'"
					[activeSubList]="true"
					[subListItems]="['About Qrates', 'Careers', 'Partners', 'Contact']"
				></oc-nav-item>
			</ul>
		</nav>
		<div class="search-desktop">
			<img src="assets/svg/search.svg" alt="Icon Search" class="search" />
		</div>
	</div>
	<div class="buttons-container">
		<a href="#" class="flex-al-c">LOG IN</a>
		<oc-button type="dark" text="MAKE YOUR OWN"></oc-button>
	</div>
</div>
